* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f0f0f0;
  font-family: "Open Sans", sans-serif;
}
:root {
  --label-icon: #61c554;
  --label-bgc: #353535;
  --font-color-1: #f3f3f3;
  /* --font-color-2: #6e6e6e; */
  --font-color-2: #353535;
  --logo-color: #ff4d00;
  --section-bgc: #bdbdbd;
}
.label {
  max-width: 270px;
  height: 30px;
  background-color: var(--label-bgc);
  border-radius: 0 0 100px 100px;
  display: flex;
  margin: auto;
  gap: 8px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: var(--font-color-1);
  font-weight: 700;
  /* position: absolute;
    left: -80px; */
}
.header-bar {
  display: flex;
  justify-content: space-between;
  max-width: 80vw;

  margin: auto;
  align-items: center;
}
.icon {
  display: flex;
  align-items: center;
}
.icon i {
  font-size: 8px;
  color: var(--label-icon);
}
.spacer {
  height: 40px;
}
.button-list {
  margin-left: -20px;
}
.button-list ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

.button-list a {
  text-decoration: none;
  color: var(--font-color-2);
  font-size: 14px;
  font-weight: 600;
}
.btn {
  padding: 12px 22px;
  border-radius: 30px;
  border: none;
  color: var(--font-color-1);
  font-weight: 600;
  background-color: var(--font-color-2);
  font-size: 15px;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.7;
}
.button-list ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: var(--logo-color);
  transition: width 0.25s ease-out;
}
.button-list ul li a:hover::before {
  width: 100%;
}
.button-list ul li a {
  display: inline-block;
  padding-bottom: 3px;
  position: relative;
}
.button-list a:hover {
  color: var(--logo-color);
  transition: color 0.25s ease-out;
}
.header-img {
  display: flex;
  width: fit-content;
  margin: auto;
  align-items: center;
  font-size: 14px;
  color: var(--font-color-2);
}
.header-img img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}
.header-img p {
  margin-left: 12px;
}
.personal {
  margin: auto;
  width: fit-content;
}
.yellow {
  color: var(--logo-color);
}
.personal p {
  font-size: 72px;
  font-family: inherit;
  font-weight: bold;
  /* color: var(--label-bgc); */
  word-spacing: -9px;

  width: fit-content;
  margin: -12px auto;
}

.personal img {
  width: 81px;
  height: 64px;
  border-radius: 50px;
  margin: 0 15px;

  transform: translate(-33px, -33px);

  /* Animation */
  animation: trans 2.5s ease-in-out infinite alternate;
}

@keyframes trans {
  from {
    transform: translate(0, 0); /* start position */
  }
  to {
    transform: translate(-6px, -6px); /* move diagonally */
  }
}
.second-p {
  margin-top: -22px;
}

.gry {
  color: var(--font-color-2);
}
.personal p > span > span {
  display: inline-block;
  opacity: 0;
  transform: translatex(40px);
  animation: letterIn 0.6s ease forwards;
  animation-delay: calc(
    0.5s + (var(--word-pos) * 0.25s) + (var(--char-pos) * 0.05s)
  );
}
@keyframes letterIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.p {
  width: fit-content;
  margin: auto;
  text-align: center;
  color: var(--font-color-2);
  font-size: 18px;
  opacity: 0;
  transform: translateY(30px);
  animation: fad-down 0.5s ease forwards;
  animation-delay: 1.76s;
}
@keyframes fad-down {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.button-two {
  margin: auto;
  width: fit-content;
  opacity: 0;
  transform: translateY(30px);
  animation: fad-down 0.5s ease forwards;
  animation-delay: 0.76s;
}
.buton .arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}
.btn:hover .arrow {
  transform: translateX(8px);
}
.main-section-two {
  width: 99vw;
  background-color: #ff4d00;
}
.main-section-first-img {
  margin: auto;
  width: 98vw;
}
.main-section-first-img img {
  width: 98vw;
}

.slider {
  width: 100%;
}
.slider-one {
  display: flex;
  width: 1100px;
  gap: 33px;
  height: 70px;
  white-space: nowrap;
  mask-image: linear-gradient(to right, transparent, #000 22% 90%, transparent);
  /* background-color: #61c554; */
  margin: auto;
  overflow: hidden;
}
.slider .item {
  display: flex;
  align-items: center;

  animation: autoRun 18s linear infinite;
  gap: 33px;
}

.slider .item .list img {
  /* width: 167px; */
  height: 35px;

  margin: auto;
}
@keyframes autoRun {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.main-three {
  width: 100%;
  height: 300px;

  position: relative;
  overflow: hidden;
}
.three-one-slider {
  width: 102%;
  background-color: var(--label-bgc);
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-7deg);
  z-index: 1;
  display: flex;
  align-items: center;
}
.three-two-slider {
  width: 101%;
  display: flex;
  align-items: center;
  background-color: var(--logo-color);
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(7deg);
  z-index: 1;
}
.three-two-inner {
  display: flex;
  align-items: center;
  gap: 33px;
  white-space: nowrap;
  animation: autoflow-second 30s linear infinite;
}
@keyframes autoflow-second {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.three-two-slider h5,
.three-one-inner h5 {
  font-size: 32px;
  color: var(--font-color-1);
}
.three-one-inner {
  display: flex;
  align-items: center;
  gap: 33px;
  white-space: nowrap;
  animation: autoflow-second 22s linear infinite;
}
.section-three {
  width: 100%;
}
.section-three .first-p {
  color: var(--logo-color);
  font-style: italic;
  margin: auto;
  width: fit-content;
  font-size: 28px;
}
.section-three .second-p {
  font-size: 48px;
  width: 950px;
  /* background-color: #353535; */

  margin: auto;
  height: 168px;
  text-align: center;
  font-weight: 600;
  line-height: 55px;
}
.button {
  display: flex;

  justify-content: center;

  gap: 13px;
}
.button > div {
  display: flex;
  gap: 12px;
  align-items: center;
  color: var(--font-color-1);
  background-color: var(--label-bgc);
  padding: 12px 22px;
  border-radius: 30px;
  font-size: 16px;
}
.button-container {
  display: flex;
  width: 400px;
  margin: auto;
  flex-direction: column;
  gap: 13px;
}
.section-four p {
  margin: auto;
  width: fit-content;
  font-size: 18px;
  color: var(--font-color-2);
}
.section-four h1 {
  width: fit-content;
  margin: auto;
}
.section-four h1 > span {
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(15, 15, 15, 0.4) 159%
  );
  color: var(--section-bgc);
  font-size: 200px;
}
.bgc {
  background-color: var(--section-bgc);
}
.section-four-first-img {
  width: 430px;
  height: 600px;
  background-image: url(images/section-four-one.webp);
  background-size: cover;

  border-radius: 22px;
}
.first-img-heading > div > h1 {
  font-size: 55px;
  color: var(--font-color-1);
  margin-bottom: 0px;
}
.first-img-heading p {
  color: var(--font-color-1);
  margin-top: -12px;
  font-size: 14px;
}
.first-img-heading > div > {
  width: fit-content;
  background-color: #ff4d00;
}
.first-img-heading {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  margin-left: 33px;
}
.section-four-first-img {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.section-four-img {
  position: relative;
  top: -80px;
}
.section-four-second-img {
  background-image: url(images/section-four-one.webp);
  background-size: cover;
  width: 100%;
  height: 600px;
  padding-left: 30px;
  color: var(--font-color-1);
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 22px;
  font-size: 18px;
}
.assest-p {
  font-size: 25px;
}
.assest {
  display: flex;
  width: 80vw;
  gap: 50px;
  margin: auto;
}
.second-last-section {
  background: url(images/second-last-section.avif);
  width: 97vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 35px;
  margin: auto;
}
.second-last-inner-main-div {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.second-last-inner-main-div-heading-container {
  color: var(--font-color-1);
  width: 500px;
}
.second-last-inner-main-div-heading-container h2 {
  font-size: 60px;
  line-height: 70px;
}
.second-last-inner-main-div-heading-container p {
  color: var(--section-bgc);
  margin-top: 12px;
}
.second-last-inner-main-div-table {
  display: flex;
  gap: 18px;
  flex-direction: column;
}
.second-last-inner-main-div-table input {
  width: 500px;

  font-size: 16px;
  color: var(--font-color-1);
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--section-bgc);
  padding-bottom: 12px;
}

.second-last-inner-main-div-table input::placeholder {
  color: var(--font-color-1);
}

.second-last-inner-main-div-table label {
  font-size: 16px;
}
.second-last-inner-main-div button {
  padding: 14px;
  font-size: 14px;
  border-radius: 30px;
  border: none;
  background-color: var(--font-color-1);
  color: var(--font-color-2);
}
.third-last-section {
  width: 70vw;
  height: 100vh;
  /* background-color: #ff4d00; */
  margin: auto;
  
}
.third-last-section p {
  width: fit-content;
  margin: auto;
  color: var(--font-color-2);
  font-size: 18px;
}
.third-last-section h1,
.last-section-four h1,
.seven> h1 {
  font-size: 65px;
  font-weight: bold;
  width: fit-content;
  margin: auto;
  color: var(--label-bgc);
  margin-bottom: 20px;
}
.third-last-section-main-contant {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px;

  width: 100%;
  margin-top: 40px;
}
.third-last-section-main-contant > div {
  padding: 28px;
  background-color: var(--font-color-1);
  border-radius: 25px;
}
.third-last-section-main-contant > div > p {
  width: 440px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  /* background-color: #ff4d00; */
}
/* .third-last-section-main-contant>div>p>span{

 } */
.third-last-section-main-contant > div > p > span > i {
  font-size: 16px;
  color: var(--font-color-1);
  background-color: var(--font-color-2);
  border-radius: 20px;
  /* height: 20px;
  width: 20px;
  */
}
.last-section-four {
  width: 85vw;
  /* background-color: #ff4d00; */
  margin: auto;
}
.last-section-four > p,
.seven>p , .p{
  width: fit-content;
  margin: auto;

  font-size: 14px;
}

.last-section-four-main-contant > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: none;
  padding: 32px;
  border-top: 1px solid rgb(84, 82, 82);
}

.last-section-four-firstp {
  font-size: 14px;
}
.last-section-four-secondp {
  font-size: 18px;
  cursor: pointer;
  transition: 0.25s linear;
}
.last-section-four-secondp:hover {
  color: var(--logo-color);
}
/* .seven>P{
  width: fit-content;
  margin:  0  auto 14px auto;

} */
 .seven{
  width: 99vw;
 }
.seven>h1{
  width: fit-content;
  margin: auto;
}
 .seven-inner-first-card{
  /* background-color: #ff4d00; */
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-top: 40px;
  align-items: center;
  
  
 }
 .seven-inner-first-card>div{
   width: 700px;
   height: 200px;
   background-color:var(--font-color-1);
   border-radius: 22px;
   
   
 }
 .seven-inner-first-card-inner{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:  20px 20px;
 }
 .seven-inner-first-card-inner>p{
   font-size: 16px;
   color: var(--font-color-2);
 }
 .seven-inner-first-card-inner>div{
  width: 35px;
  height: 35px;
  background-color: var(--font-color-2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

 }
.seven-inner-first-card-inner>div>i{
  color: var(--font-color-1);
  font-size: 18px;
  
}
.seven-inner-first-card-inner>h5{
  font-size: 22px;
}
.done-card{
  height: 400px;
  width: 700px;
  background: url(images/section-last-img.avif);
  background-size: contain;
  background-repeat: no-repeat;
  color: var(--font-color-1);
  margin: 40px auto;
  padding: 40px 15px;

}
.done-card>h2{
  color: var(--logo-color);
  font-size: 40px;
}
.done-card>h1{
  color: var(--font-color-1);
  font-size: 55px;
}
.done-card>p{
  width: 450px;
  color: var(--font-color-1);
  margin-top: 26px;
}
.done-card>button{
  margin-top: 60px;
  padding: 15px 130px;
  font-weight: bold;
  font-size: 19px;
  color: var(--font-color-1);
  background-color: var(--font-color-2);
  border: none;
  border-radius: 22px;
}
.profile-card{
  width: 80%;
  height: 80%;
  /* background-color: #ff4d00; */
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-self: center;
}
.profile-pitchure{
  background: url(images/profile-image.avif);
  width: 40%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 40px;
  
}
.profile-contant{
   
  width: 40%;
  height: 100%;

}
.profile-pitchure-icon{
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 94%;
  /* color: var(--font-color-1); */
margin-left: 30px; 
width: 180px;
  
}
.profile-pitchure-icon>div{
  width: 30px;
  height: 30px;
  background-color: var(--font-color-2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.profile-pitchure-icon>div:hover{
 background-color: var(--logo-color);
}
.profile-pitchure-icon>div>i{
  font-size: 16px;
      color: var(--font-color-1);
}

.profile-rotate-img img{
  width: 200px;
  height: 200px;
   animation:profile-rotate 12s infinite linear ;
}
.profile-rotate-img{
  position: relative;
  top: 68%;
  left: 66%;
 
}
@keyframes profile-rotate {
   to{
    transform: rotate(0);
   }
   from{
    transform: rotate(360deg);
   }
}
.profile-card-main-contant{
  margin-left: 22px;
}
.profile-card-main-contant>h2{
   color: var(--font-color-2);
   font-size: 38px;
}
.profile-card-main-contant>p{
  font-size: 22px;
  color: var(--font-color-2);
  margin-top: 30px;
}
.line{
  width: 100%;
  height: 0.7px;
  background-color: var(--font-color-2);
  margin-top: 40px;
}
.inner-list{
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  height: 41%;
  
}
.inner-list>div{
   display: flex;
   justify-content: space-between;
   width: 100%;
}
.inner-list>div>:first-child{
 
  width: fit-content;
  font-size: 18px;
}
.servise{
  width: 80vw;
  /* background-color: #ff4d00; */
  margin: auto;
  height: 250px;
   
}
.servise>h1{
  font-size: 70px;
  margin-top: -15px;
  margin-bottom: 80px;
   
}
.servise>p{
  font-size:18px;
  color: var(--font-color-2);
   
  
}
.servise-one{
    width: 80vw;
    margin: auto;
    display: flex;
}